{{#myProjectObjects}}

<div class="publication">
    <div class="projectSectionText">
        <a class="title" href={{heroku_url}} target="_blank">
            {{displayName}}
        </a>
        <span class="projectInfoText regularText publicationDescription"> {{description}} </span>
    </div>
</div>

<a class="projectSectionImg" style="background-image: url('{{dirName}}/screenshot-1.png')" href={{heroku_url}}
    target="_blank">
</a>
{{/myProjectObjects}}